.wrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(234, 234, 234, 0.97);
  border-radius: 10px;
  margin: 2px auto;
  box-shadow: 1px 1px 3px #0f0000;
  height: 843px;
  width: 800px;

  @media (max-width: 412px) {
    width: 90%;
  }

  .generator {
    margin-top: 50px;
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .passLength {
      width: 50px;
      margin-left: 10px;
    }

    .generateBtn {
      width: 120px;
      height: 40px;
      margin: 5px 0;
    }

    .passwordList {
      min-width: 200px;
      padding: 10px;

      .listItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        padding: 2px 5px;
        background-color: #eef1f2;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #0f0000;

        span {
          margin-right: 15px;
        }

        .copyIcon:hover {
          cursor: pointer;
        }
      }
    }
  }
}
