.wrapper {
  display: flex;
  justify-content: center;
  height: 955px;
  border: 1px solid black;
  background-color: rgb(153, 184, 184);

  .generator {
    margin-top: 50px;
    width: 200px;
    height: 220px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .passLength {
      width: 50px;
    }

    .generateBtn {
      width: 120px;
      height: 40px;
      margin: 5px 0;
    }

    .passwordList {
        border: 1px solid black;
    }
  }
}
