.header {
  background-color: #be3144;
  width: 800px;
  margin: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .title {
    display: flex;
    align-items: center;

    .text {
      font-size: 22px;
      margin-left: 3px;
    }
  }
}
