.header {
  background-color: #606060;
  width: 800px;
  margin: auto;
  height: 40px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;

  @media (max-width: 412px) {
    width: 90%;
    margin: auto;
  }

  .title {
    display: flex;
    align-items: center;

    .text {
      font-size: 22px;
      margin-left: 3px;
    }

    .enIcon {
      cursor: pointer;
      position: absolute;
      right: 43px;
    }

    .ruIcon {
      cursor: pointer;
      position: absolute;
      right: 10px;
    }
  }
}
