* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: Oswald;
}

body {
  margin: 0;
  padding: 0;
  width: 800px;
  margin: auto;
  background-color: rgba(253, 253, 253, 0.973);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
